# Carga de datos a través de la función read_csv

In [2]:
import pandas as pd
import os

In [ ]:
mainpath = "/Users/51931/Documents/anaconda/curso/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(fullpath)

In [5]:
data = pd.read_csv(fullpath)

In [6]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

read.csv(filepath="/Users/51931/Documents/anaconda/curso/datasets/titanic/titanic3.csv", sep = ",", dtype=None)

# Ficheros XLS y XLSX

In [ ]:
mainpath = "/Users/51931/Documents/anaconda/curso/datasets"
filename = "titanic/titanic3.xls"

In [21]:
mainpath = "/Users/51931/Documents/anaconda/curso/datasets"
filename = "titanic/titanic3.xls"
titanic2 = pd.read_excel(mainpath + "/" + filename, "titanic3")

NameError: name 'mainpath' is not defined

In [22]:
titanic3 = pd.read_excel(mainpath + "/" + filename + "x", "titanic3")

NameError: name 'mainpath' is not defined